.producto {
    margin: auto;
    height: 90vh;
    img {
        width: 100%;
        max-width: 80vh;
        margin: 1px solid #97999a;
    }
}

.ruta-producto {
    font-size: 16px;
    font-weight: bold;
    margin-left: 2%;
    color: #969696;
}

.miniatura {
    display: inline-flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    min-width: 50px;
    min-height: 50px;
    img {
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
        margin: 10px;
        cursor: pointer;
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
}

.color {
    display: block;
    min-width: 60px;
    min-height: 60px;
    max-width: 61px;
    max-height: 61px;
    border: 1px solid #969696;
    img {
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
    }
}

.titulo-producto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
    color: #6c6c6d;
    display: block;
    height: 23px;
}

.precio-large {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #7a4b59;
    font-weight: bolder;
    display: block;
    height: 23px;
}

.referencia {
    color: #cbc8cc;
    font-size: 14px;
    display: block;
    height: 23px;
    font-weight: bolder;
}
.text-title {
    color: #6f6f6e;
    font-size: 16px;
    display: block;
    font-weight: normal;
    a {
        color: #666766;
    }
}

.talla_btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #c8c6ca;
    background-color: #c8c6ca;
    color: #383938;
    font-weight: bold;
    &:disabled {
        background-color: #efeef0;
        border: 1px solid #efeef0;
        color: #939493;
    }
}