.carrito-button {
    text-align: right;
    a {
        text-decoration: none;
        color: #878786;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 14px;
    }
}