<div class="buscador">
    <div class="row">
        <div class="col-sm-10 px-3">
            <input type="text" class="input-buscador mx-3" placeholder="BUSCAR">
        </div>
        <div class="col-sm-2 my-auto">
            <span class="cart-link">
                <a routerLink="/search">
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 13L7 7L1 1" stroke="#798CA5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</div>