.menu-tienda {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
        a {
            text-decoration: none;
            color: #878786;
            font-weight: bold;
            margin: 0px 10px;
        }
    }
    text-align: left;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-top: 5px;
}